// Main Colors
:root{
    --purple: #A729F5;
    --error: #EE5454;
    --success: #26D782;

    //dark-theme
    --darkest: #313E51;
    --navy: #3B4D66;
    --grey-navy: #626C7F;

    //light-theme
    // note these names suck will change them later
    --pure-white: #FFFFFF;
    --lighter: #F4F6FA;
    --light-bluish: #ABC1E1;

    --color-background: var(--lighter);
    --main-text-color: var(--darkest);
    --muted-text-color: var(--light-bluish);
    --option-button-color: var(--pure-white);
    --bg-url: url(../assets/images/pattern-background-desktop-light.svg);
}

[data-theme='dark'] {
    --color-background: var(--darkest);
    --main-text-color: var(--pure-white);
    --muted-text-color: var(--light-bluish);
    --option-button-color: var(--navy);
    --bg-url: url(../assets/images/pattern-background-desktop-dark.svg);
    
}


[data-theme='light'] {
    --main-text-color: var(--darkest);
    --color-background: var(--pure-white);
    --muted-text-color: var(--grey-navy);
    --option-button-color: var(--pure-white);
    --bg-url: url(../assets/images/pattern-background-desktop-light.svg);
    
}

body {
    background: var(--bg-url), var(--color-background);
    background-repeat: no-repeat;
    background-size: cover;
    transition: color 0.5s ease, background-color 0.5s ease, 0.5s ease;
    #container{
        
    }

}

@media (max-width: 768px) {
    [data-theme='light'] {
        --bg-url: url(../assets/images/pattern-background-tablet-light.svg);
        background-size: auto;
    }

    [data-theme='dark'] {
        --bg-url: url(../assets/images/pattern-background-tablet-dark.svg);
        background-size: auto;
    }
}

@media (max-width: 375px) {
    [data-theme='light'] {
        --bg-url: url(../assets/images/pattern-background-mobile-light.svg);
        background-size: auto;
    }

    [data-theme='dark'] {
        --bg-url: url(../assets/images/pattern-background-mobile-dark.svg);
        background-size: auto;
    }
    
}