@import url(./_colors.scss);

@font-face {
    font-family: "Rubik Medium";
    src: url("../assets/fonts/static/Rubik-Medium.ttf");
}

@font-face {
    font-family: "Rubik Regular";
    src: url("../assets/fonts/static/Rubik-Regular.ttf");
}

@font-face {
    font-family: "Rubik Italic";
    src: url("../assets/fonts/static/Rubik-Italic.ttf");
}

@font-face {
    font-family: "Rubik Light";
    src: url("../assets/fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Rubik Light Italic";
    src: url("../assets/fonts/Rubik-Italic-VariableFont_wght.ttf");
}

body {
    font-family: "Rubik Regular";
    font-size: 1rem; // 16px
    line-height: 150%;
    color: var(--main-text-color);
}

.light-font{
    color: var(--main-text-color);
    font-family: 'Rubik Light';
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 40px */
}

.light-italic-font{
    font-family: "Rubik Light Italic";
}

.medium-font{
    font-family: "Rubik Medium";
    color: var(--main-text-color);
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 40px */
}

.regular-font{
    font-family: 'Rubik Regular';
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%; /* 21px */
}

.italic-font{
    font-family: "Rubik Italic";
}

.muted-text{
    color: var(--muted-text-color)
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}
